doctype html
html
  head
    script(type='text/javascript'
           src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript',
           src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(type='text/javascript', src='pager.js')
    script
      :coffee
        viewModel =
          servers: ['rushu']
          loadData: (server) ->
            (callback) ->
              $.getJSON "//api.dofusportal.tk/#{server}", (data) ->
                callback({dimension, portals} for dimension, portals of data)
        window.viewModel = viewModel
        $ ->
          pager.extendWithPage viewModel
          ko.applyBindings viewModel
          pager.start()
  body
    h1 Where is portal?
    // ko foreach: {data: servers, as: 'server'}
    div(data-bind='page: {id: server, withOnShow: $root.loadData(server)}')
      p For server 
        span(data-bind='text: server')
      ul(data-bind='foreach: $data')
        li
          h2(data-bind='text: dimension')
          ul(data-bind='foreach: portals')
            li(data-bind='text: coordinates')
    // /ko

