doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='style.css')
    script(type='text/javascript'
           src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript',
           src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(type='text/javascript', src='pager.js')
    script
      :coffee
        String::capitalize = ->
          @replace /^./, (letter) ->
            letter.toUpperCase()
        viewModel =
          servers: ['Rushu']
          loadData: (server) ->
            (callback) ->
              $.getJSON "//api.dofusportal.tk/#{server}", (data) ->
                data.portals = ({dimension, portals} for dimension, portals of data.portals)
                callback data
        window.viewModel = viewModel
        $ ->
          pager.extendWithPage viewModel
          ko.applyBindings viewModel
          pager.start()
  body
    nav
      ul(data-bind='foreach: $__page__.children')
        li(data-bind='css: {active: isVisible}')
          a(data-bind='text: $data.val("title"), page-href: $data')

    h1 Where is portal?
    // ko foreach: {data: servers, as: 'server'}
    div(data-bind='page: {id: server, title: server,' +
                  'withOnShow: $root.loadData(server), params: {limit: 1}}')
      p Newest portal coordinates 
        a(data-bind='attr: {href: source}') posted
        |  by 
        span(data-bind='text: server')
        |  players:
      ul(data-bind='foreach: portals')
        li
          h2.dimension(data-bind='text: dimension')
          ul(data-bind='foreach: portals.slice(0, $parent.limit())')
            li.coordinates(data-bind='text: coordinates')
    // /ko

