li.portal
  font-size: 0
  padding: 1.25em 0
.coordinates
  font-size: large
  width: 4.5em
  text-align: right
  margin-right: 8em
  font-weight: bold
  border: none
.detail
  display: inline-block
  width: 10em
  margin-left: -10em
  position: relative
.area
  top: -1.5em
.uses
  bottom: -1.5em
.postingDate
  bottom: 0
  &::first-letter
    text-transform: capitalize
.metadata, .detail
  font-size: small
  color: dimgray
html, body
  margin: 0
  padding: 0
nav
  padding: 1em 1em 0
  border-bottom: 1px solid lightgray
  ul
    margin: 0
    padding: 0
    li
      list-style: none
      float: left
      margin-bottom: 0.5em
      a
        text-decoration: none
        color: black
        padding: 0.5em
      &.active a
        background-color: lightgray
    &:last-child::after
      content: ''
      display: block
      clear: both
.page
  margin: 1em
  ul
    padding: 0
    margin: 0
    li
      list-style: none
@media only screen and (max-width: 320px)
  h1
    display: none
  h2, p, nav, li
    font-size: small
  h1, h2, p, ul
    margin-top: 0.25em
    margin-bottom: 0.5em
  .coordinates
    font-size: medium
    text-align: left
    margin: 0
  .metadata, .detail
    display: block
    font-size: x-small
  .detail
    position: static
    margin: 0
    width: initial
